# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\bt-them\customerManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
